.contact_section {
  align-items: center;
  gap: 2em;
}

.envoi_message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 1.5em 2em;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  z-index: 1000;
  animation: fadeInOut 3s forwards;
}

/* Animation : apparition + disparition */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  10%,
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  margin: 2em auto;
}

.contact_form input,
.contact_form select,
.contact_form textarea {
  padding: 0.8em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  width: 100%;
}

.contact_form button {
  padding: 1em;
  background-color: #f2b22c;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
