.section_projets {
  padding: 2em;
}

.projets {
  color: white;
  font-size: 2.5em;
  background-color: #c876f4;
  display: flex;
  justify-content: center;
  width: 70%;
  position: absolute;
  top: 41em;
  left: 0.5em;
  padding: 20px 10px;
  border-radius: 2em 0;
}

.card_projet {
  border: 2px solid black;
  margin: 2em;
  width: 80%;
  height: 300px;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
