.section_projets {
  padding: 2em;
}

.projets {
  align-items: center;
  gap: 2em;
}

.card_projet {
  border: 2px solid black;
  margin: 2em;
  width: 80%;
  height: 300px;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
