.technologie_section {
  align-items: center;
  gap: 2em;
}

.button_container {
  display: inline-flex;
  gap: 1em;
}

.button_categories {
  padding: 1em;
  width: 30%;
  background-color: #f2dff6;
  border: none;
  border-radius: 1.5em;
  text-align: center;
}

.button_categories:hover {
  background-color: #f2b22c;
  color: white;
}

.techno_container {
  border: 2px solid rgb(240, 235, 235);
  background-color: #f2dff6;
  height: 45%;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 2.5em;
}

.section_techno {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

.tech {
  background: #f0f0f0;
  padding: 1em;
  text-align: center;
  border-radius: 8px;
}
